# Created by https://www.gitignore.io/api/ipythonnotebook

### IPythonNotebook ###
# Temporary data
.ipynb_checkpoints/


### misc ###
!.local/share/jupyter
.local/share/jupyter/*
!.local/share/jupyter/nbextensions/
